<h1>{{ vm.hotel.name }} <hotel-rating stars="vm.stars"></hotel-rating></h1>

<p><small>{{ vm.hotel.location.address }}</small></p>

<p>{{ vm.hotel.description }}</p>
<p>This hotel offers the following services:</p>
<ul>
  <li ng-repeat="service in vm.hotel.services">{{ service }}</li>
</ul>
<h3>Reviews</h3>
<ul>
  <li ng-repeat="review in vm.hotel.reviews"> <strong>{{ review.name }} says:</strong> {{ review.review }}</li>
</ul>

<div ng-if="vm.isLoggedIn()">
  <form name="vm.reviewForm" ng-submit="vm.addReview()">
    Your rating: <input type="number" name="rating" required ng-pattern="/^[1-5]$/" ng-model="vm.rating">
    <div ng-show="vm.reviewForm.rating.$dirty && vm.reviewForm.rating.$invalid && vm.isSubmitted">
      <p>Rating must be between 1-5.</p>

    </div>

    Your review: <textarea name="review" required ng-model="vm.review"></textarea>
    <div ng-show="vm.reviewForm.review.$dirty && vm.isSubmitted">
      <p>Please add a review</p>
    </div>

    <button type="submit" class="btn">Add review</button>
  </form>
</div>
